/* Import de la police d'écriture */
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

/* Rénitialisation du CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Akaya Telivigala";
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    360deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  color: navy;
}

.container {
  margin: 50px;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  box-shadow: 0 35px 55px;
}

.side {
  display: flex;
}

.left_side {
  background: #130f40;
  padding: 40px;
  width: 40%;
  color: white;
}

.profile_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid gray;
}

.img_profile > img {
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  transition: 1s;
}

.img_profile > img:hover {
 transform: scale(1.5);
}

.left_side h1 {
  font-size: 30px;
  text-align: center;
}

.left_side h2 {
  padding-top: 10px;
  font-size: 25px;
}

.link_left_side {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  font-size: 18px;
  padding-top: 5px;
}

.link_left_side > i {
  padding-left: 12px;
  padding-right: 5px;
}

.link_left_side:hover {
  color: blue;
  
}

.profile_soft_skills,
.profile_competences,
.profile_loisirs {
  font-size: 15px;
  padding-top: 10px;
  
}

.profile_soft_skills > ul,
.profile_competences > ul,
.profile_loisirs > ul {
  padding-left: 22px;
  padding-top: 5px;
}

/* Partie Droite */
.container .right_side {
  background: white;
  padding: 40px;
  width: 60%;
  /* max-width: 1000px;
  min-height: 1000px; */
}

.right_side .projet_pro {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.right_side .projet_pro p {
  padding-left: 50px;
}

.right_side .formations {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

.right_side .formations ul,
.experiences ul {
  padding-left: 50px;
}

.right_side h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: black;
}

.right_side li {
  margin-bottom: 15px;
  color: black;
}

.right_side li span {
  font-style: italic; 
  color: #777;
}

/* Styles pour le footer */
footer {
  background-color: black;
  width: 1000px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

/* Styles pour le bouton à l'intérieur du footer */
footer button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer button a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* On enlève la barre latéral de scroll */
::-webkit-scrollbar {
  display: none;
}