/* Rénitialisation du CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    360deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  margin: 50px;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  grid: 1fr, 2fr;
  box-shadow: 0 35px 55px;
}

.container .left_side {
  background: #130f40;
  padding: 40px;
  width: 30%;
  /* max-width: 300px;
  min-height: 1000px; */
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: white;
}


.profile_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid gray;
}

.profile_text .img_profile {
  height: 200px;
  width: 200px;
  margin-bottom: 20px;
}

.profile_text .img_profile img {
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}
.left_side h1 {
  font-size: 25px;
  text-align: center;
}

.left_side h2 {
  padding-top: 10px;
  font-size: 20px;
}

.profile_contact .link_left_side {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding-top: 5px;
}
.profile_email, .link_left_side > i {
  padding-left: 12px;
  padding-right: 5px;
}

.profile_email:hover, .link_left_side:hover {
  color: blue;
  
}

.profile_soft_skills, .profile_competences, .profile_loisirs {
  font-size: 12px;
  padding-top: 5px;
  
}

.profile_soft_skills > ul, .profile_competences > ul, .profile_loisirs > ul {
  padding-left: 22px;
}

/* Partie Droite */
.container .right_side {
  background: white;
  padding: 40px;
  width: 70%;
  /* max-width: 1000px;
  min-height: 1000px; */
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.right_side .formations {
  padding-top: 350px;
  display: flex;
  flex-direction: column;
}

.right_side .formations ul, .experiences ul {
  padding-left: 50px;
}


.right_side h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: black;
}

.right_side li {
  margin-bottom: 15px;
  color: black;
}

.right_side li span {
  font-style: italic; /* Texte en italique pour les éléments "span" */
  color: #777; /* Couleur du texte italique */
}



::-webkit-scrollbar {
  display: none;
}